
kicad/**/*backups
kicad/**/*bak

software/**/.vscode
software/**/outputBuild

*.prproj
Time lapse/*/raw
Time lapse/Emitter - microscope/Emitter - microscope timelapse.mp4

Thinkbox Project Fund/**/*
Thinkbox Project Fund/*
